<div id="container">
    <div class="sideMenuWrap">
        <h3>고객센터 / 보험 안내</h3>
        <ul>
            <li><a href="" class="sideMenuCK">공지사항</a></li>
            <li><a href="">Qna</a></li>
            <li><a href="">갤러리</a></li>
            <li><a href="">보험안내</a></li>
        </ul>
    </div>
    <div class="contentWrap">
        <h2 class="contentMainTitle">공지사항</h2>
        <div class="miniMap">
            <span class="miniMapHome"><a href="/"></a></span>
            <span class="miniMapblank">></span>
            <span class="miniMapTop"><a href="/about">고객센터 / 보험 안내</a></span>
            <span class="miniMapblank">></span>
            <span class="miniMapNow">공지사항</span>
        </div>
        <article class="contentBox">
            <div class="noticeBox">
                <div class="noticeSearch">
                    <select name="" id="notiSearchOp">
                        <option value="noticeAll">전체</option>
                        <option value="noticeTitle">제목</option>
                        <option value="noticeSub">내용</option>
                    </select>
                    <input type="text" name="" class="notiSearchTx">
                    <input type="submit" value="검색" class="notiSearchBtn">
                </div>
                <div class="noticeList">
                    <table>
                        <colgroup>
                            <col width="10%">
                            <col width="*">
                            <col width="20%">
                            <col width="10%">
                        </colgroup>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>등록일</th>
                            <th>조회수</th>
                        </tr>
                        <% rows.forEach((row, index) => { %>
                        <tr>
                            <td><%= row.no %></td>
                            <td class="tableTitle"><a href="/notice/<%=row.no%>"><%= row.title %></a></td>
                            <td><%= row.day %></td>
                            <td><%= row.hit %></td>
                        </tr>
                        <% }); %>
                    </table>
                </div>
                <div class="listNum">
                    <span class="listNum_left"></span>
                    <ul>
                        <li>1</li>
                    </ul>  
                    <span class="listNum_right"></span>       
                </div>
            </div>
        </article>
        
    </div>
</div>